<?xml version="1.0" encoding="utf-8"?>
<!--<configuration xmlns="http://jetbrains.com/rider/schemas/config">-->
<configuration>
    <configSections>
      <section name="monitorSection" type="FileSystemService.Monitor.Configuration.MonitorSection, FileSystemService.Monitor"/>
      <section name="consoleSection" type="FileSystemService.ConsoleProject.Configuration.ConsoleSection, FileSystemService.ConsoleProject"/>
    </configSections>
    
    <consoleSection>
        <cultureLocalization name="en-US"/>
    </consoleSection>
    
    <monitorSection>
        <directories>
            <directory path="E:\EPAM\Module 2 - C# Fundamentals\FileSystemService\Tests\SourceDirectory"/>
        </directories>
        <filters>
            <filter
                pattern="[\w, \d]+\.csv"
                destinationFolder="E:\EPAM\Module 2 - C# Fundamentals\FileSystemService\Tests\DestinationDirectoryWithCsvFiles"
                addPositionNumber="true"
                addMovementDate="true"
            />
            <filter
                pattern="[\w, \d]+\.txt"
                destinationFolder="E:\EPAM\Module 2 - C# Fundamentals\FileSystemService\Tests\DestinationDirectoryWithTxtFiles"
                addPositionNumber="false"
                addMovementDate="true"
            />
        </filters>
    </monitorSection>
</configuration>